<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Your name</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="../static/script.js" defer></script>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Xanh+Mono:ital@0;1&display=swap" rel="stylesheet">
</head>


<body style="font-family: Arial">
    <header style="color:blue; background:lightblue">
    <h1>Scarlett Huang</h1>

    <nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="cv.html">CV</a></li>
            <li><a href="contact.html">Contact me</a></li>
            <li><a href="fun.html">For fun</a></li>
        </ul>
    </nav>
    </header>

    <div id="mainLayout">
        <!-- item1: Google Maps -->
        <div id="item1">
            <h2>Find Me</h2>
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3031.473529158194!2d-79.94283548423028!3d40.444362479360444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f21c3277f20f%3A0x7e5ed9c7b91b3f01!2sCarnegie%20Mellon%20University!5e0!3m2!1sen!2sus!4v1710806306471!5m2!1sen!2sus" 
                width="600" 
                height="450" 
                style="border:0; border-radius: 10px; display: block; margin: 0 auto;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    
        <!-- item2: Contact form + table -->
        <div id="item2">
            <h2>Contact Me</h2>
    
            <form id="contactForm" action="/submit" method="POST">
                <label for="name">Name:</label><br>
                <input type="text" id="name" name="name" placeholder="Enter your name" required><br>
                <small id="nameError" class="error-message"></small><br>
    
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" placeholder="Enter your email" required><br>
                <small id="emailError" class="error-message"></small><br>
    
                <label for="message">Message:</label><br>
                <textarea id="message" name="message" placeholder="Enter your message" required></textarea><br>
                <small id="messageError" class="error-message"></small><br>
    
                <input type="submit" value="Submit">
            </form>
    
            <table style="color:rgb(15, 15, 45); background:beige; text-align: center; 
            border-collapse: collapse; margin: 0 auto; width: 60%;">
                <tr>
                    <th style="border: 2px solid black; padding: 10px;">Name</th>
                    <th style="border: 2px solid black; padding: 10px;">Email</th>
                    <th style="border: 2px solid black; padding: 10px;">Phone</th>
                </tr>
                <tr>
                    <td style="border: 2px solid black; padding: 10px;">Scarlett Huang</td>
                    <td style="border: 2px solid black; padding: 10px;">chenghu2@andrew.cmu.edu</td>
                    <td style="border: 2px solid black; padding: 10px;">412-600-6920</td>
                </tr>
            </table>
        </div>
    </div>
    


    <footer>
        <p>&copy; 2025 Scarlett Huang 67250</p>
</body>
</html>