<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Your name</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Xanh+Mono:ital@0;1&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>

<body style="font-family: Arial">
    <header style="color:blue; background:lightblue">
        <h1>Scarlett Huang</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="cv.html">CV</a></li>
                <li><a href="contact.html">Contact me</a></li>
                <li><a href="fun.html">For fun</a></li>
            </ul>
        </nav>
    </header>

    <div id="mainLayout">
        <div id="item1">
            <h2>What I do for fun!</h2>
            <h3>My favorite hobbies are:</h3>

            <!-- <button id="showButton" onclick="showList()">Click to see...</button> -->

            <!-- Hidden list -->
            <ul id="funList" style="display: none;">
                <li>Music</li>
                <li>Badminton</li>
                <li>Gaming</li>
            </ul>
        </div>

        <div id="item2">
            <img src="../static/belly.jpg" alt="Me" class="funIMG" style="max-width: 50%; display: block;
        margin-left: auto;
        margin-right: auto;" >
        </div>
            
        <div id="item3">
            <iframe width="560" height="315" 
            src="https://www.youtube.com/embed/tgbNymZ7vqY" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen
            style="border-radius: 10px; display: block; margin: 0 auto;">
        </iframe>
        </div>
        <div id="item4">
            <div class="container">
                <h2>Need Some Advice?</h2>
                <p id="adviceText">Click the button to get a random piece of advice!</p>
                <button onclick="getAdvice()">Get Advice</button>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2025 Scarlett Huang 67250</p>
    </footer>
</body>
</html>
